@using CompetitionResults.Data
@inject CompetitionService CompetitionService
@inject IStringLocalizer<SharedResource> L

<div class="modal fade @(IsOpen ? "show" : "")" style="display: @(IsOpen ? "block" : "none");">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<EditForm Model="@_competition" OnValidSubmit="HandleValidSubmit">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<div class="modal-header">
					<h5 class="modal-title">@L["Edit Competition"]</h5>
					<button type="button" class="btn-close" @onclick="Close"></button>
				</div>
				<div class="modal-body">

					<div class="form-grid">
						<div>
							<label for="name">@L["Name:"]</label>
							<InputText id="name" @bind-Value="@_competition.Name" />
						</div>

						<div>
							<label for="desc">@L["Description:"]</label>
							<InputText id="name" @bind-Value="@_competition.Description" />
						</div>

						<div>
							<label for="campingavailable">@L["Camping on site available:"]</label>
							<InputCheckbox id="campingavailable" @bind-Value="@_competition.CampingOnSiteAvailable" />
						</div>

                                                <div>
                                                        <label for="tshirtavailable">@L["T-Shirt available:"]</label>
                                                        <InputCheckbox id="tshirtavailable" @bind-Value="@_competition.TShirtAvailable" />
                                                </div>

                                                <div>
                                                        <label for="missingPenalty">@L["Apply -10 penalty for missing result:"]</label>
                                                        <InputCheckbox id="missingPenalty" @bind-Value="@_competition.EnableMissingResultPenalty" />
                                                </div>

                                                <div>
                                                        <label for="maxThrowers">@L["T-Shirt price EUR:"]</label>
                                                        <InputNumber id="priceEUR" @bind-Value="@_competition.TShirtPriceEUR" />
                                                </div>

						<div>
							<label for="maxThrowers">@L["T-Shirt price LOCAL:"]</label>
							<InputNumber id="priceEUR" @bind-Value="@_competition.TShirtPriceLocal" />
						</div>

						<div>
							<label for="tshirtlink">@L["T-Shirt image url (link to picture):"]</label>
							<InputText id="tshirtlink" @bind-Value="@_competition.TShirtLink" />
						</div>

						<div>
							<label for="emailtemplate">@L["Email template footer english:"]</label>
							<InputTextArea id="emailtemplate" @bind-Value="@_competition.EmailTemplateFooter" />
						</div>

						<div>
							<label for="emailtemplate2">@L["Email template footer local:"]</label>
							<InputTextArea id="emailtemplate2" @bind-Value="@_competition.EmailTemplateFooterLocal" />
						</div>

						<div>
							<label for="maxThrowers">@L["Maximum number of competitors:"]</label>
							<InputNumber id="maxThrowers" @bind-Value="@_competition.MaxCompetitorCount" />
						</div>

						<div>
							<label for="maxThrowers">@L["Competition price EUR:"]</label>
							<InputNumber id="priceEUR" @bind-Value="@_competition.CompetitionPriceEUR" />
						</div>

                        <div>
                                <label for="maxThrowers">@L["Competition price LOCAL:"]</label>
                                <InputNumber id="priceEUR" @bind-Value="@_competition.CompetitionPriceLocal" />
                        </div>

                        <div>
                                <label for="language">@L["Local language (country code):"]</label>
                                <select id="language" @bind="_competition.LocalLanguage">
                                        @foreach (var lang in languages)
                                        {
                                                <option value="@lang.Key">@lang.Value (@lang.Key)</option>
                                        }
                                </select>
                        </div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick="Close">@L["Close"]</button>
					<button type="submit" class="btn btn-primary">@L["Save changes"]</button>
				</div>
			</EditForm>
		</div>
	</div>
</div>

@code {
	public bool IsOpen { get; private set; }
	[Parameter] public EventCallback OnClose { get; set; }
        private Competition _competition;
        private Dictionary<string, string> languages = new Dictionary<string, string>
        {
                {"AF", "Afghanistan"}, {"AL", "Albania"}, {"DZ", "Algeria"}, {"AD", "Andorra"},
                {"AO", "Angola"}, {"AG", "Antigua and Barbuda"}, {"AR", "Argentina"}, {"AM", "Armenia"},
                {"AU", "Australia"}, {"AT", "Austria"}, {"AZ", "Azerbaijan"}, {"BS", "Bahamas"},
                {"BH", "Bahrain"}, {"BD", "Bangladesh"}, {"BB", "Barbados"}, {"BY", "Belarus"},
                {"BE", "Belgium"}, {"BZ", "Belize"}, {"BJ", "Benin"}, {"BT", "Bhutan"},
                {"BO", "Bolivia"}, {"BA", "Bosnia and Herzegovina"}, {"BW", "Botswana"}, {"BR", "Brazil"},
                {"BN", "Brunei"}, {"BG", "Bulgaria"}, {"BF", "Burkina Faso"}, {"BI", "Burundi"},
                {"CV", "Cabo Verde"}, {"KH", "Cambodia"}, {"CM", "Cameroon"}, {"CA", "Canada"},
                {"CF", "Central African Republic"}, {"TD", "Chad"}, {"CL", "Chile"}, {"CN", "China"},
                {"CO", "Colombia"}, {"KM", "Comoros"}, {"CG", "Congo"}, {"CD", "Congo (DRC)"},
                {"CR", "Costa Rica"}, {"CI", "Côte d'Ivoire"}, {"HR", "Croatia"}, {"CU", "Cuba"},
                {"CY", "Cyprus"}, {"CZ", "Czech"}, {"DK", "Denmark"}, {"DJ", "Djibouti"},
                {"DM", "Dominica"}, {"DO", "Dominican Republic"}, {"EC", "Ecuador"}, {"EG", "Egypt"},
                {"SV", "El Salvador"}, {"GQ", "Equatorial Guinea"}, {"ER", "Eritrea"}, {"EE", "Estonia"},
                {"SZ", "Eswatini"}, {"ET", "Ethiopia"}, {"FJ", "Fiji"}, {"FI", "Finland"},
                {"FR", "France"}, {"GA", "Gabon"}, {"GM", "Gambia"}, {"GE", "Georgia"},
                {"DE", "German"}, {"GH", "Ghana"}, {"GR", "Greek"}, {"GD", "Grenada"},
                {"GT", "Guatemala"}, {"GN", "Guinea"}, {"GW", "Guinea-Bissau"}, {"GY", "Guyana"},
                {"HT", "Haiti"}, {"HN", "Honduras"}, {"HU", "Hungarian"}, {"IS", "Icelandic"},
                {"IN", "Hindi"}, {"ID", "Indonesian"}, {"IR", "Persian"}, {"IQ", "Arabic"},
                {"IE", "Irish"}, {"IL", "Hebrew"}, {"IT", "Italian"}, {"JM", "Jamaican"},
                {"JP", "Japanese"}, {"JO", "Arabic"}, {"KZ", "Kazakh"}, {"KE", "Swahili"},
                {"KI", "Kiribati"}, {"KP", "Korean"}, {"KR", "Korean"}, {"KW", "Arabic"},
                {"KG", "Kyrgyz"}, {"LA", "Lao"}, {"LV", "Latvian"}, {"LB", "Arabic"},
                {"LS", "Sotho"}, {"LR", "English"}, {"LY", "Arabic"}, {"LI", "German"},
                {"LT", "Lithuanian"}, {"LU", "Luxembourgish"}, {"MG", "Malagasy"}, {"MW", "Chichewa"},
                {"MY", "Malay"}, {"MV", "Dhivehi"}, {"ML", "French"}, {"MT", "Maltese"},
                {"MH", "Marshallese"}, {"MR", "Arabic"}, {"MU", "English"}, {"MX", "Spanish"},
                {"FM", "English"}, {"MD", "Romanian"}, {"MC", "French"}, {"MN", "Mongolian"},
                {"ME", "Montenegrin"}, {"MA", "Arabic"}, {"MZ", "Portuguese"}, {"MM", "Burmese"},
                {"NA", "English"}, {"NR", "Nauruan"}, {"NP", "Nepali"}, {"NL", "Dutch"},
                {"NZ", "English"}, {"NI", "Spanish"}, {"NE", "French"}, {"NG", "English"},
                {"NO", "Norwegian"}, {"OM", "Arabic"}, {"PK", "Urdu"}, {"PW", "Palauan"},
                {"PA", "Spanish"}, {"PG", "English"}, {"PY", "Spanish"}, {"PE", "Spanish"},
                {"PH", "Filipino"}, {"PL", "Polish"}, {"PT", "Portuguese"}, {"QA", "Arabic"},
                {"RO", "Romanian"}, {"RU", "Russian"}, {"RW", "Kinyarwanda"}, {"KN", "English"},
                {"LC", "English"}, {"VC", "English"}, {"WS", "Samoan"},
                {"SM", "Italian"}, {"ST", "Portuguese"}, {"SA", "Arabic"},
                {"SN", "French"}, {"RS", "Serbian"}, {"SC", "Seychellois Creole"}, {"SL", "English"},
                {"SG", "English"}, {"SK", "Slovak"}, {"SI", "Slovenian"}, {"SB", "English"},
                {"SO", "Somali"}, {"ZA", "Zulu"}, {"SS", "English"}, {"ES", "Spanish"},
                {"LK", "Sinhala"}, {"SD", "Arabic"}, {"SR", "Dutch"}, {"SE", "Swedish"},
                {"CH", "German"}, {"SY", "Arabic"}, {"TW", "Chinese"}, {"TJ", "Tajik"},
                {"TZ", "Swahili"}, {"TH", "Thai"}, {"TL", "Portuguese"}, {"TG", "French"},
                {"TO", "Tongan"}, {"TT", "English"}, {"TN", "Arabic"}, {"TR", "Turkish"},
                {"TM", "Turkmen"}, {"TV", "Tuvaluan"}, {"UG", "English"}, {"UA", "Ukrainian"},
                {"AE", "Arabic"}, {"GB", "English"}, {"GB-WLS", "Welsh"}, {"GB-SCT", "Scottish Gaelic"}, {"US", "English"},
                {"UY", "Spanish"}, {"UZ", "Uzbek"}, {"VU", "Bislama"}, {"VA", "Italian"},
                {"VE", "Spanish"}, {"VN", "Vietnamese"}, {"YE", "Arabic"}, {"ZM", "English"},
                {"ZW", "English"}
        };

	protected override async Task OnInitializedAsync()
	{
		_competition = new Competition();
	}

	[Parameter]
	public Competition Category
	{
		get => _competition;
		set
		{
			if (_competition != value)
			{
				_competition = value;
			}
		}
	}

	[Parameter]
	public EventCallback OnFormSubmit { get; set; }

    private async Task HandleValidSubmit()
	{
		IsOpen = false;
		if (_competition.Id == 0)
        {
			await CompetitionService.AddCompetitionAsync(_competition);
        }
        else
        {
			await CompetitionService.UpdateCompetitionAsync(_competition);
        }

		await OnFormSubmit.InvokeAsync(true);
    }

	public async void Open()
	{
		IsOpen = true;
		StateHasChanged();
	}

	private void Close()
	{
		IsOpen = false;
		StateHasChanged();
		OnClose.InvokeAsync();
	}
}
